* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  outline: 0;
}

body {
  text-align: center;
}


.mainDiv {
  background-image: url("sea.jpg");
  background-position: bottom;
  background-size: cover;
  /*background-color: rgba(0, 0, 0, 0.308);*/
  box-shadow: 0px 2px 10px black;
  height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.formField {
  border-radius: 15px;
  margin: 40px;
  padding: 10px;
  border: grey solid 1px;
  width: 100%;
}

.formTitle {
  border-bottom: white solid 1px;
  padding-bottom: 40px;
}

.firstField {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 36px;
}

.buttonContainer {
  display: flex;
  margin-top: -20px;
  justify-content: space-around;
}

.button {
  background-color: white;
  border-radius: 20px;
  border: 0px;
  height: 30px;
  width: 230px;
  margin: 10px;
  box-shadow: black 0px 0px 5px;
  font-size: 15px;
}

/* inverse la couleur du bouton au survol */
.button:hover {
filter: invert(100%);
}

/* Force l'arrangement en ligne et passe un élément à la ligne inférieure s'il dépasse */
.crewContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  color: black;
  font-weight: 300;
  font-size: 35px;
  padding-bottom: 15px;
  margin-top: 50px;
}

/* chaque carte de membre a la même dimension. Séparé du même espace. Affiché sur 3 colonnes */
.crewMember {
  width: 200px;
  height: 200px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-weight: 200;
  font-size: 22px;
}

/* le logo est redimensionné et un fond est appliqué. On met en oeuvre l'animation.
On défini*/
.reactLogo {
  background-color: rgb(23, 37, 48);
  border-radius: 100px;
  height: 80px;
  width: 80px;
  animation: rotation 7s infinite linear;
}

/* accéleration quand la souris passe dessus */
.reactLogo:hover {
  animation: rotation 0.5s infinite linear;
}

/* rotation de 0 à 359 degrès*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
